<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"
		type="text/css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"></script>
	<!-- Personal stylesheets -->
	<link rel="stylesheet" href='css/style.min.css' type="text/css">
	<link rel="stylesheet" href='css/nav.min.css' type="text/css">
	<link rel="stylesheet" href='css/list.min.css' type="text/css">
	<title>Play-Gen</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row nav-row">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
					aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-down" fill="currentColor"
						xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
					</svg>
				</button>
				<a class="navbar-brand" href="#">Play-Gen</a>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						{% if user %}
						<li class="nav-item active">
							<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/rec">Playlist Creator</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/user-input">User Inputs</a>
						</li>
						<li class="nav-item"><a href="https://github.com/Mir-Khan/Play-Gen" class="nav-link">Github</a>
						</li>
						<li class="nav-item"><a href="https://www.mir-khan.com/" target="_blank"
								class="nav-link">Resume</a></li>
						{% else %}
						<li class="nav-item active">
							<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item"><a href="https://github.com/Mir-Khan/Play-Gen" class="nav-link">Github</a>
						</li>
						<li class="nav-item"><a href="https://www.mir-khan.com/" target="_blank"
								class="nav-link">Resume</a></li>
						{% endif %}
					</ul>
				</div>
			</nav>
		</div>
		{% if not user %}
		<div class="col">
			<div class="row justify-content-center text-center">
				<h1>Play-Gen</h1>
			</div>
			<div class="row justify-content-center">
				<form action="/auth/spotify" method="GET">
					<div class="form-row text-center">
						<div>
							<h1>Welcome! Please log into Spotify using the button below.</h1>
							<button type="submit" class="btn"
								style="font-size: 3rem; margin-top: 5rem;"><span>Login</span></button>
						</div>
					</div>
				</form>
			</div>
		</div>
		{% else %}
		<div class="row text-center justify-content-center">
			<div class="col">
				<h2>Some Notes</h2>
			</div>
		</div>
		<div class="row text-center justify-content-center">
			<div class="col">
				<h2>Recommending Form</h2>
				<hr />
				<ul class="explain-list">
					<li>This tool bases the playlists off your listening history in the past 6 months</li>
					<li>Enter the playlist name of the playlist you want to modify <span
							style="font-weight: 700">exactly!</span></li>
				</ul>
			</div>
			<div class="col">
				<h2>User Input Form</h2>
				<hr />
				<ul class="explain-list">
					<li>Artist names and track names are <span style="font-weight: 700">NOT</span> case sensitive</li>
					<li>If a genre is not auto-completed but you've seen it on Spotify, it's good to use</li>
					<li>You need to enter only one of an artist, genre, and track <span
							style="font-weight: 700">BUT</span> you don't need to enter more than that</li>
					<li>When entering a track, make sure to enter the artist of the track</li>
				</ul>
			</div>
		</div>
		{% endif %}
		{% if user %}
	</div>
	<footer class="footer">
		<div class="fluid-container text-center">
			<p>Made by Mir Khan</p>
			<p><a href="/">Home</a> | <a href="/rec">Playlist Creator</a> | <a href="/user-input">User
					Inputs</a> | <a href="https://github.com/Mir-Khan/Play-Gen" target="_blank">Github</a> | <a
					href="https://mir-khan.com" target="_blank">Resume</a></p>
		</div>
	</footer>
	{% else %}
	</div>
	<footer class="footer">
		<div class="fluid-container text-center">
			<p>Made by Mir Khan</p>
			<p><a href="/">Home</a> | <a href="https://github.com/Mir-Khan/Play-Gen" target="_blank">Github</a> | <a
					href="https://mir-khan.com" target="_blank">Resume</a></p>
		</div>
	</footer>
	{% endif %}
	<script>
		// taken from bootstrap docs
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();
	</script>
</body>

</html>